.slider { display: block; width: 375px; height: auto;
    background-color: #1f1f11; overflow: hidden;
    position: absolute;}

.slider > * {position: absolute;display: block;
     width: 375px; height: auto;
    background-color: #1f1f11; animation: slide 5s infinite;
    overflow: hidden;}

.slide:nth-child(1){left: 0%;
    animation: delay -1s ;
    background-image: url(../img/gambar1.jpg);
    background-position: center;}

.slide:nth-child(2){animation: delay 2s ;
    background-image: url(../img/gambar2.jpg);
    background-position: center;}

.slide:nth-child(1){animation: delay 5s ;
    background-image: url(../img/gambar3.jpg);
    background-position: center;}

.slide p {font-family: Comfortaa; text-align: center; margin: auto; color: #fff;}

@keyframes slide {

}
