/* css dasar */
body{align-content: center; 
    font-family: arial Black, arial bold,gadget,sans-serif;}

.BGbody{
    background-image:url("../img/sampul02.jpg"); 
    background-repeat:repeat-y; position: fixed;
    width: 100%; height: 100%;
    background-size: 100%;
    margin-top: 0px;
    margin-left: 0px;}

.wrapper{ background-color:transparent;
    position: relative; width:auto;}

.flex-container{ display: flex;
    flex-wrap: wrap; margin: auto;
    align-content: center;
    justify-content: center;max-width: 850px;}
    
section{background-color: white; box-sizing: border-box; 
     border-radius: 10px; align:center;}
    section h5 {margin:auto;text-align: center;}
    section p {margin-left:10px;margin-right: 10px;}

a {display: inline-block;position: relative;
    overflow: hidden;transition: all .3s;}
    a:before,a:after {transition: all .3s;}


#ProfilImg{ width: 130px; height: 130px;border-radius:50%; margin:20px }

/* Class section  */
.header { padding: 1em; max-width: 850px; margin: auto; }
    .pinmaps{ margin: auto;border-radius:10px ;}
    .pinmaps a{height: 25px; width: 140px; margin:auto; background-color: #1E90FF; color:#EAEAEA; border-radius: 10px;}
    .pinmaps a:hover{height: 25px; width: 140px; margin: auto; background-color: #EAEAEA; color: #1E90FF;}
    
.aboutme{padding: 1em; width: 400px;  border-radius: 10px; margin: 10px;}

.foto{padding: 1em; width: 400px;  border-radius: 10px; margin:10px}
.carousel-item{width: 380px; height: 220px;align-items: center;}
    

.contactme{padding: 1em; width: 400px;  border-radius: 10px; margin:10px}
    .fb {background-color: #EAEAEA; width:"50px"; height:"50px"; border-radius: 10px;}
    .fb:hover {background-color: #3b5998;;}
    
    .twitter {background-color: #EAEAEA; width:"50px"; height:"50px";border-radius: 10px;}
    .twitter:hover {background-color:#1E90FF;}

    .instagram {background-color: #EAEAEA; width:"50px"; height:"50px";border-radius: 10px;}
    .instagram:hover {background-color:#FF69B4;}

    .github {background-color: #EAEAEA; width:"50px"; height:"50px";border-radius: 10px;}
    .github:hover {background-color: #303030;}

    .wa {background-color: #EAEAEA; width:"50px"; height:"50px";border-radius: 10px;}
    .wa:hover {background-color: #32cd32;}

    .steam{background-color: #EAEAEA; width:"50px"; height:"50px";border-radius: 10px;}
    .steam:hover {background-color:#483D8B;}


.footer{background-color: black;color:#EAEAEA;  
    margin: auto; max-width: 850px; padding: 20px; border-radius: 10px;}
    

